@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Lato", serif;
}
header{
    background-color: #ba60ff;  /*COLOR DE FONDO DE LA ETIQUETA */
    width: 80%; /*ANCHO DE LA ETIQUETA (SE REDIMENCIONA CON PORCENTAJE)*/
    margin: auto;   /*CENTRADO*/
    height:  250px; /*ALTURA*/
    padding: 30px 10px 20px 50px;   /*ARRIBA DERECHA ABAJO IZQUIERDA*/  
} 

nav{
    float: right;
    width: 70%;
    border: solid 1px #000000; /*TIPO TAMAÑO COLOR*/
    padding: 20px;
}

a{
    color: #ffffff;
    text-decoration: none;
    float: left;
    padding: 10px;
    text-transform: uppercase; /*PONE EL TEXTO EN MAYUSCULA*/
}

a:hover{
    background-color: #fcaaaa;
    color: white;
}